@font-face {
  font-family: "Line_Th";
  src: url("./LINESeedKR-Th.ttf");
}

@font-face {
  font-family: "Line_Rg";
  src: url("./LINESeedKR-Rg.ttf");
}

@font-face {
  font-family: "Line_Bd";
  src: url("./LINESeedKR-Bd.ttf");
}
